h1, h3 {
    font-family: 'Playfair Display', Georgia, serif;
}

h1 {
    font-size: xxx-large;
}

h3 {
    font-size: xx-large;
}

body {
    max-width: 800px;
    font-family: 'Lato', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
    font-size: x-large;
}

button {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;

    font-family: 'Lato', Arial, sans-serif;
    font-size: xx-large;
}

#content {
    margin-left: 10%;
}